
@{
    var athenaUser = User.ToAthenaUser();
    MiniProfiler.Current.AddCustomLink("All Profiler Results", Url.Content("~/_profile/results-index"));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Athena</title>

    <link rel="stylesheet" type="text/css" href="~/athena.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
@Html.Partial("_Nav", athenaUser)

<main>
    <div class="container body-content;">
        <profile name="RenderBody">
            @RenderBody()            
        </profile>
    </div>
</main>

<footer class="page-footer indigo darken-4">
    <div class="footer-copyright">
        <div class="container">
            <span class="left">
                &copy; 2018 - Athena
            </span>
        </div>
    </div>
</footer>

<script type="text/javascript" src="~/athena.js"></script>

<profile name="RenderScripts">
    @RenderSection("Scripts", required: false)
</profile>

<script> $(".button-collapse").sideNav();</script>

<script>
    $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'right', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
            onOpen: function(el) { /* Do Stuff*/ }, // A function to be called when sideNav is opened
            onClose: function(el) { /* Do Stuff*/ }, // A function to be called when sideNav is closed
        }
    );
</script>

<mini-profiler position="@RenderPosition.BottomRight" />
</body>
</html>