
@{
    var athenaUser = User.ToAthenaUser();
    MiniProfiler.Current.AddCustomLink("All Profiler Results", Url.Content("~/_profile/results-index"));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Athena</title>

    <link rel="stylesheet" type="text/css" href="~/athena.css" />
    @RenderSection("styles", required: false)
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

@Html.Partial("_Nav", athenaUser)

<main>
    <div class="container body-content;">
        <profile name="RenderBody">
            @RenderBody()            
        </profile>
    </div>
</main>

<footer class="page-footer blue darken-4">
    <div class="footer-copyright">
        <div class="container">
            <span class="left">
                &copy; 2018 - Athena
            </span>
        </div>
    </div>
</footer>

<script type="text/javascript" src="@Url.Content("~/athena.js")"></script>
<script type="text/javascript">
    const apiRoot = "@Url.Content("~/api/v1")";
    $(function () {
        $('.modal').modal();
        $('.print-trigger').click(function () {
            window.open("@Url.Action(nameof(ScheduleController.PrintSchedule), "Schedule")",
                'window',
                'toolbar=no, menubar=no, resizable=yes');
        });
    });
</script>

<profile name="RenderScripts">
    @RenderSection("Scripts", required: false)
</profile>

<mini-profiler position="@RenderPosition.BottomRight" />
</body>
</html>