@model Athena.Core.Models.Identity.AthenaUser

<div class="navbar-fixed hidden-print">
    <nav>
        <div class="nav-wrapper blue darken-4">
            <img src="@Url.Content("~/images/owl icon.svg")" class="left responsive-img" id="athena-icon" alt="Athena"/>

            <h2 class="brand-logo center"><a href="@Url.Action(nameof(HomeController.Home), "Home")">Athena</a></h2>
            
            <ul class="right">
                @if (Model == null)
    {
            <li><a href="@Url.Action(nameof(AccountController.Login), "Account")">Sign Up / Log In<i class="material-icons right">person_outline</i></a></li>
}
else
{
            <li>
                <a class="chip" href="@Url.Action(nameof(HomeController.User_Page), "Home")" tooltip="Student Page">
                    <img gravatar-email="@Model.Student.Email" gravatar-size="80" gravatar-default-image="retro" gravatar-force-https="true" gravatar-rating="@GravatarRating.PG" alt="" />
                    @Model.Student.Name
                </a>
            </li>
            <li>
                <a class="tooltip" href="@Url.Action(nameof(HomeController.Schedule_Page), "Home")"><i class="material-icons right">schedule</i><span class="tooltiptext">Schedule</span></a>
            </li>
            <li>
                <a class="tooltip" href="@Url.Action(nameof(AccountController.Logout), "Account")"><i class="material-icons right">exit_to_app</i><span class="tooltiptext">Logout</span></a>
            </li>
}
            </ul>
        </div>
    </nav>
</div>