@{
    ViewData["Title"] = "Profile";
    var student = User.ToAthenaUser().Student;
}

<h2>Profile</h2>

<ul class="collapsible popout">
    <li class="">
        <div class="active collapsible-header blue darken-4 white-text"><i class="material-icons">school</i>Manage Institutions</div>
        <div class="collapsible-body">
            @Html.Partial("_ConfigureInstitutions")
        </div>
    </li>
    <li>
        <div class="collapsible-header blue darken-4 white-text"><i class="material-icons">book</i>Manage Programs</div>
        <div class="collapsible-body">
            @Html.Partial("_ConfigurePrograms")
        </div>
    </li>
    <li>
        <div class="collapsible-header blue darken-4 white-text"><i class="material-icons">playlist_add</i>Manage Completed Courses</div>
        <div class="collapsible-body">
            @Html.Partial("_ConfigureCompletedCourses")
        </div>
    </li>
</ul>
<div class="row">
    <div class="col s2 offset-s10">
        <a class="btn btn-block blue darken-4" href="@Url.Action(nameof(HomeController.Home), "Home")">Save</a>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript" src="@Url.Content("~/completedCourses.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/studentSetup.js")"></script>
    <script type="text/javascript">
        $(function() {
            athena.studentSetup.init('@(student.Id)');
            athena.completedCourses.init("@(student.Id)");

            $(".collapsible").collapsible({
                onOpen: function(e) {
                    e.find('input').focus();
                    e.find('input:text:visible:first').focus();
                }
            });
        });
    </script>
}