@{
    ViewData["Title"] = "Home";
    var student = User.ToAthenaUser();
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="valign-wrapper vh-80">
        <div class="row">
            <div class="center">
                    <h2>
                        Welcome!
                    </h2>
                    <p class="flow-text">
                        Designed by students, for students, Athena helps you plan your semester.
                    </p>
                    <div class="row center">
                        <div class="col s4">
                            <i class="large material-icons blue-text text-accent-3">verified_user</i>
                            <h4>Security</h4>
                            <p>
                                Create an account using your existing Google or Microsoft login provided by your
                                university. We don't even store your password!
                            </p>
                        </div>
                        <div class="col s4">
                            <i class="large material-icons blue-text text-accent-3">event_available</i>
                            <h4>Scheduling & Things</h4>
                            <p>
                                Athena helps schedule the classes you need and manage the institutions and programs
                                you're enrolled in.
                            </p>
                        </div>
                        <div class="col s4">
                            <i class="large material-icons blue-text text-accent-3">mood</i>
                            <h4>Simplicity</h4>
                            <p>
                                Enjoy Athena's inuitive functionality and stress-free user experience. We offer a
                                solution to the many, MANY, overly complicated and numerous scheduling systems that
                                universities already use.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
}
else
{
    <div class="row calendar-wrapper">
        @Html.Partial("_CurrentSchedule", true)
    </div>
    @Html.Partial("_CurrentScheduleModal", true)

}

@Html.Partial("_CurrentScheduleModal", false)
@Html.Partial("_UnmetDependencyError")

<div id="remove-class-modal" class="modal">
    <div class="modal-content">
        <h4>Confirm Removal</h4>
        <p>Are you sure you want to remove this course?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn" id="Remove-Course-Button">Remove</a>
        <a href="#!" class="modal-action modal-close waves-effect btn">Cancel</a>
    </div>
</div>

@section scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript" src="@Url.Content("~/schedule.js")"></script>
        <script type="text/javascript">
            $(function () {
                athena.schedule.init('@(student.Id)', false);

                const removeBtn = $("#Remove-Course-Button");
                removeBtn.click(function () {
                    $.ajax({
                        url: apiRoot + '/student/@(student.Id)/offerings/' + removeBtn.attr('data-confirm-id'),
                        method: 'DELETE',
                        complete: athena.schedule.reloadAll
                    });
                });
                 
                $('.printBtn').on('click', function () {
                    window.print();
                });
            });
        </script>
    }
}