@{
    ViewData["Title"] = "Home";
    var student = User.ToAthenaUser();
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="notLoggedIn" style="padding-top:5em">
        <h1>
            Welcome to the Athena Scheduling Assistant!
        </h1>
        <p>
            This tool was designed by students for students, to allow for a more streamlined approach to allow students to schedule their course work for each semester and allow them to track thier progression through their degree.
        </p>
    </div>
}
else
{
    <ul class="tabs">
        <li class="tab hidden-print"><a href="#student">Student</a></li>
        <li class="tab hidden-print"><a href="#schedule">Schedule</a></li>
    </ul>
    <div id="student">
        @Html.Partial("_StudentDetails")
    </div>
    <div id="schedule">
        @Html.Partial("_CurrentSchedule")
    </div>
    @Html.Partial("_CurrentScheduleModal")
}

@section scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript" src="@Url.Content("~/schedule.js")"></script>
        <script type="text/javascript">
            $(function () {
                $('ul.tabs').tabs({
                    swipeable: true,
                    responsiveThreshold: 1920
                });

                athena.schedule.init('@(student.Id)', true);
            });

            $('.printBtn').on('click', function () {
                window.print();
            });
        </script>
    }
}